export DB__NAME=termo
export DB__USERNAME=jago
export DB__HOST=open
export TERMO_LOG_LEVEL=INFO
export PATH=/Volumes/Devo/Users/jago/miniforge3/envs/termo-service/bin:/Volumes/Devo/Users/jago/miniforge3/condabin:/Volumes/Devo/Users/jago/miniforge3/envs/termo-serive/bin/:$PATH
# export DYLD_PRINT_LIBRARIES=1
